<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ToDo App</title>

  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='flatly.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body>

  <div class="container-fluid" id="wrapper">

    <div class="row">
      <div class="col-lg-4 col-lg-offset-4" id="content">
        <h2>WHAT DO YOU WANT TO DO TODAY?</h2>

        <form action="{{ url_for('add_todo') }}" method="POST" role="form">

          <div class="form-group">
            <div class="input-group">
              <input name="new-todo" type="text" class="form-control" placeholder="Enter todo e.g. Delete junk files"
                aria-label="Todo" aria-describedby="add-btn">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default" id="add-btn">ADD</button>
              </span>
            </div>
          </div>
        </form>

        <div class="row t10">
          <div class="col-lg-12">
            <div class="btn-toolbar">
              <div class="btn-group">
                <a type="button" href="{{ url_for('delete_completed') }}" class="btn btn-warning">
                  DELETE COMPLETED
                </a>
              </div>
              <div class="btn-group">
                <a type="button" href="{{ url_for('delete_all') }}" class="btn btn-warning">
                  DELETE ALL
                </a>
              </div>
            </div>
          </div>
        </div>

        <ul class="list-group t20">
          {% for todo in todos %}
          <a href="{{ url_for('complete', oid=todo._id )}}">
            <li class="list-group-item {% if todo.complete %}todo-completed{% endif %}">
              {{ todo.text }}
            </li>
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>

    <footer>
      <div class="row pad">
        <div class="col-lg-12 text-center">
          Copyright &copy; 2020 <strong>ToDo App</strong>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>